<ul class="s-links list-unstyled list-inline">
    <li>
        <a href="/" title="Home" rel="me">
            <img alt="Home" src="{{ "/assets/img/icon/fa-home.svg" }}">
        </a>
    </li>
    <li>
        <a href="{{ site.Params.Blog.Permalink }}" title="{{ site.Params.Blog.Title }}">
            <img alt="Blog" src="{{ "/assets/img/icon/fa-blog.svg" }}">
        </a>
    </li>
    <li>
        <a href="/blog/atom.xml" title="Feed">
            <img alt="Feed" src="{{ "/assets/img/icon/fa-rss.svg" }}">
        </a>
    </li>
    <li>
        <a href="https://calckey.social/{{ site.Params.calckey }}" title="Calckey" rel="me">
            <img alt="Calckey" src="{{ "/assets/img/icon/calckey.svg" }}">
        </a>
    </li>
    <li>
        <a href="https://codeberg.org/{{ site.Params.codeberg }}" title="Codeberg" rel="me">
            <img alt="Codeberg" src="{{ "/assets/img/icon/codeberg.svg" }}">
        </a>
    </li>
    <li>
        <a href="https://github.com/{{ site.Params.github }}" title="GitHub" rel="me">
            <img alt="Github" src="{{ "/assets/img/icon/fa-github.svg" }}">
        </a>
    </li>
    <li>
        <a href="https://www.artstation.com/{{ site.Params.artstation }}" title="Artstation" rel="me">
            <img alt="Artstation" src="{{ "/assets/img/icon/fa-artstation.svg" }}">
        </a>
    </li>
</ul>
