{{ define "header"}}
<h1>Siavash Askari Nasr</h1>
<div class="subtitle">Web/Game/Software developer, digital artist and self-proclaimed visionary, poet and author</div>
{{ end }}

{{ define "main" }}
<div class="slinks">
    <a href="{{ $.Site.Params.Blog.Permalink }}" rel="me">Blog</a>
    <a href="https://mastodon.social/{{ $.Site.Params.mastodon }}" rel="me">Mastodon</a>
    <a href="https://codeberg.org/{{ $.Site.Params.codeberg }}" rel="me">Codeberg</a>
    <a href="https://github.com/{{ $.Site.Params.github }}" rel="me">GitHub</a>
    <a href="https://www.artstation.com/{{ $.Site.Params.artstation }}" rel="me">Artstation</a>
</div>
{{ .Content }}
{{ end }}
